

.menuPage .contentDiv button{
    background: burlywood;
    color: white;
    font-size: 18px;
    width: 112px;
  
}
.menuPage .contentDiv button:hover{
    background: white;
    color: burlywood;
    border: 1px solid burlywood;


}
.menuPage .dolar{
   
    font-size: 25px;
    color: burlywood;
    font-weight: bold;

}
@media(max-width: 991px){
    .menuPage .firstRow{
        margin-top: 1245px;
    }
}