
.menuSection .menu_img_div img {
    height: 238px;
    width: 100%;
}


.menuSection .contentDiv{
    position: relative;
    text-align: left;
}
.menuSection .contentDiv .dolar{
    
    color: burlywood;
    font-size: 25px;
    font-weight: bold;
}
.menuSection  .contentDiv  button{
    background: burlywood;
    color: white;
    font-size: 18px;
    width: 112px;
    text-decoration: none;
}

.menuSection .contentDiv button:hover{
    background: white;
    color: burlywood;
    border: 1px solid burlywood;


}

@media (max-width:576px) {
    .menuSection{
       padding-left: 0;
       padding-right: 0;
       padding-top:  3rem;
    }
}
@media (min-width:576px) {
    .menuSection{
       padding: 3rem;
    }
}